.checkbox-outer-square {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    transition: all 0.1s linear;
  }
  .checkbox-inner-square {
    width: 9px;
    height: 9px;
    background-color: black;
    transition: all 0.1s linear;
  }
  .unselected {
    border: 1px solid black;
  }
  .unselected-square {
    width: 0;
    height: 0;
  }
  
